@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: light --default;
}

@theme {
	--font-display: 'Schoolbell', cursive;
	--font-sans: 'Poppins', sans-serif;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
